In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly

In [2]:
data_path = r'C:\Users\Abhishek\Desktop\Covid Analysis\Consolidated Data\complete.csv'

In [3]:
data = pd.read_csv(data_path)

In [4]:
data.tail(5)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude,Total Confirmed cases,complex_column,Date_time,Daily New Cases,Daily Death,Daily Cured/Discharged/Migrated
1991,India,NaN,NaN,22455,2293,12-05-2020,NaN,NaN,70756,NaN,2020-05-12,3604.0,87.0,1538.0
1992,India,NaN,NaN,24386,2415,13-05-2020,NaN,NaN,74281,NaN,2020-05-13,3525.0,122.0,1931.0
1993,India,NaN,NaN,26235,2549,14-05-2020,NaN,NaN,78003,NaN,2020-05-14,3722.0,134.0,1849.0
1994,India,NaN,NaN,27920,2649,15-05-2020,NaN,NaN,81970,NaN,2020-05-15,3967.0,100.0,1685.0
1995,India,NaN,NaN,30153,2752,16-05-2020,NaN,NaN,85710,NaN,2020-05-16,3740.0,103.0,2233.0

In [5]:
# Select the particular date for which we want to create Nightingle Rose Diagram
df = data[data['Date']=='16-05-2020']
# Remove India from the State List
df= df[df['Name of State / UT']!= 'India']
#Filter the dataframe with only the 4 required columns
df=df[['Name of State / UT','Total Confirmed cases','Cured/Discharged/Migrated','Death']]
#Select the 10 highest states of Confirmed Cases
df = df.nlargest(10,['Total Confirmed cases'])
#Sort according to State Names
df.sort_values(by=['Name of State / UT'],inplace=True)

In [6]:
df

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death
1917,Andhra Pradesh,2307,1252,48
1902,Delhi,8895,3518,123
1900,Gujarat,9931,4035,606
1893,Madhya Pradesh,4595,2283,239
1892,Maharashtra,29100,6564,1068
1915,Punjab,1935,305,32
1921,Rajasthan,4727,2677,125
1914,Tamil Nadu,10108,2599,71
1910,Uttar Pradesh,4057,2165,95
1908,West Bengal,2461,829,225

In [7]:
fig = go.Figure()

fig.add_trace(go.Barpolar(
    r = list(df['Total Confirmed cases']),
    theta=list(df['Name of State / UT']),
    name = 'Confirmed',
    marker_color='rgb(46,109,255)',
    marker_line_color="black",
    hoverinfo = ['all'],
    opacity=0.7   
))


fig.add_trace(go.Barpolar(
    r = list(df['Cured/Discharged/Migrated']),
    theta=list(df['Name of State / UT']),
    name = 'Cured',
    marker_color='rgb(139,222,52)',
    marker_line_color="black",
    hoverinfo = ['all'],
    opacity=0.7
))

fig.add_trace(go.Barpolar(    
    r = list(df['Death']),
    theta=list(df['Name of State / UT']),
    name = 'Deceased',
    marker_color='rgb(245,94,21)', 
    marker_line_color="black",
    hoverinfo = ['all'],
    opacity=0.7
))


fig.update_layout(
    title='Covid Stats Analysis for Top 10 States in India',
    font_size=12,
    legend_font_size=15,
    polar_angularaxis_rotation=90,
    width=900,
    height=900,
    
    polar = dict(
              bgcolor = "rgb(223, 223, 223)",
              angularaxis = 
                dict(
                    linewidth = 3,
                    showline=True,
                    linecolor='black'
                    ),
          radialaxis = 
                dict(        
                    showline = True,
                    linewidth = 2,
                    gridcolor = "white",
                    gridwidth = 2,
                    )
                ),

            )
#fig.show()
plotly.offline.plot(fig, filename='NRD.html')

'NRD.html'